{% extends 'main/bash.html' %}

{% block containt %}
<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eum voluptatem ab facilis aut maiores id ut at dicta aperiam commodi praesentium dolor sunt repellendus perspiciatis minus tempora, sit facere.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </p>
</div>
{% endblock containt %}



